*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
  
}
.container{
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    margin: 0 auto;
    display: flex;
    padding: 0 9rem;
    justify-content: center;
}
.navbar{
    /* background-color: red; */
    position: absolute;
}
.logo{
    /* width: 100%; */
    /* display: flex; */
    height: 20vh;
    /* background-color: #a79c9c; */
    position: fixed;
}
.bg{
    /* width: 100%; */
    padding: 0 ;
    /* display: flex; */
    justify-content: center;
}
.hero{
   width: 100%;
   padding: 1rem 11rem;
   /* display: flex; */
   margin: 0 auto;
}
.head{
    width: 80%;
    /* padding:0 4rem; */
    /* margin: 0 auto; */
    
   
}
.dec{
    margin:0 25rem ;
    /* padding: 0 2rem; */
}
h2{
    display: flex;
    /* gap: 15rem; */
    padding: 2rem 5rem;
}

    .goto{
        p{
              padding: 1rem 5rem;

        }
    }
   .pre{
    width: 80%;
   }
   .details{
    display: flex;
    /* justify-content: space-around; */
    padding: 1rem 5rem;
    /* gap: .1rem; */
   }
   select{
    width: 80%;
    padding: 0.6rem;
    border-radius: 1rem;
   }
  input{
    padding: 0.6rem;
    border-radius: 1rem;
    /* border: none; */
  }
   .info{
    margin: 1rem 5rem;
    display: flex;
     a{
    /* border: 1px solid green; */
    /* background-color: green; */
    color: rgb(21, 147, 21);
    padding: 0 .5rem;
    text-decoration: none;
    font-weight: bold;
   }
    &:hover a{
        text-decoration: underline;
    }
   }
   .links{
    width: 100%;
    padding: 0 5rem;
   }
   .cta{
    display: flex;
    /* justify-content:space-between; */
    gap: 1rem;
     a{
        width: 25%;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0.1rem;
        /* gap: 7rem; */
        background-color:#e0f0ed;
        display: flex;
        justify-content: center;
        color: rgb(56, 90, 56);
        font-weight: bolder;
       
    }
        .rim{
    background-color: rgb(9, 99, 9);
    color: white;
    
   }
   }
   .rab{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
   }
   .buttons{
    width: 50%;
    /* display: flex; */
    padding: .1rem 0;
    margin: 0 3rem;
   }
   .data{
    width: 90%;
    /* display: flex; */
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
    /* line-height: 2rem; */
   padding: 0.6rem;
    /* border: 1px solid gray; */
   
   }
   .text{
    width: 30%;
    display: flex;
    /* background-color: green; */
    /* line-height: 2rem; */
    /* border: 1px solid black; */
   }
   .war{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    border-radius: 2rem;
    border: 1px solid rgb(103, 93, 93);
     padding: .1rem.2rem;
    
   }
   .bootinf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    a{
        color: rgb(51, 142, 51);
        text-decoration: none;
    }
    &:hover a{
        text-decoration:underline
    }
   }
   .kim{
    display: flex;
    justify-content: center;
       color: rgb(51, 142, 51);
   }
  

  