*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
  
}
.container{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    display: flex;
    padding: 0 9rem;
    justify-content: center;
}
.bg{
    display: flex;
    justify-content: center;
}
.hero{
   width: 100%;
   padding: 2rem 8rem;
   /* display: flex; */
   margin: 0 auto;
}
.head{
    width: 50%;
    /* margin: 0 auto; */
    
   
}
.dec{
    margin:0 25rem ;
    /* padding: 0 2rem; */
}
h2{
    display: flex;
    /* gap: 15rem; */
    padding: 2rem 0;
}

    .goto{
        p{
              padding: 1rem 0;

        }
    }
   .pre{
    width: 80%;
   }
   .details{
    display: flex;
    /* justify-content: space-around; */
    /* gap: .1rem; */
   }
   select{
    width: 56%;
    padding: 0.5rem;
    border-radius: 1rem;
   }
  input{
    padding: 0.6rem;
    border-radius: 1rem;
    /* border: none; */
  }
   .info{
    margin: 1rem 0;
    display: flex;
     a{
    /* border: 1px solid green; */
    /* background-color: green; */
    color: rgb(21, 147, 21);
    padding: 0.3rem;
    text-decoration: none;
    font-weight: bold;
   }
    &:hover a{
        text-decoration: underline;
    }
   }
   .links{
    width: 100%;
   }
   .cta{
    display: flex;
    gap: 1rem;
     a{
        width: 20%;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0.1rem;
        /* gap: 7rem; */
        background-color:#e0f0ed;
        display: flex;
        justify-content: center;
        color: rgb(56, 90, 56);
        font-weight: bolder;
       
    }
        .rim{
    background-color: rgb(9, 99, 9);
    color: white;
    
   }
   }
   .rab{
    display: flex;
    justify-content: space-between;
    padding: 1rem 9rem;
   }
   .buttons{
    width: 50%;
    /* display: flex; */
    padding: .1rem 0;
    margin: 0 1rem;
   }
   .data{
    width: 90%;
    /* display: flex; */
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
    /* line-height: 2rem; */
   padding: 0.6rem;
    /* border: 1px solid gray; */
   
   }
   .text{
    width: 30%;
    display: flex;
    /* background-color: green; */
    /* line-height: 2rem; */
    /* border: 1px solid black; */
   }
   .war{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    border-radius: 2rem;
    border: 1px solid black;
     padding: .1rem.2rem;
    
   }
   .bootinf{
    a{
        color: rgb(51, 142, 51);
        text-decoration: none;
    }
    &:hover a{
        text-decoration:underline
    }
   }
  

  