*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    .container{
        width: 100%;
         .header{
            width: 100%;
            background-color: #ffc042;
            height: 74vh;
            position: relative;
            // padding: .1rem ;
             .navbar{
            display: inline-flex;
            align-items: center;
            position: fixed;
            top:0;
            background-color: #ffc042;
            height: 15vh;
            z-index: 300;
            width: 100%;
            justify-content: space-around;
            
               button{
                padding: 1rem;
                font-size: 1rem;
                background-color: #017963;
                // color: white;
                border-radius: 3rem;
                border: none;
                a{

                
                
                    color: #fff;
                    // text-decoration: none;
                }
                  .bx-location{
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                 
                      
                  }
            }
             }
              .hero{
        width: 100%;
        // height: 100vh;
        padding: 4rem 0;
        display: flex;
        margin: 0 auto;
        align-items: center;
        img{
                            position:relative;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            left: 0;
                            margin-bottom: 2rem;
                            margin-left: -1rem;
                        }
        

        .right{
            font-size: 30px;
            // text-transform: capitalize;
            font-weight: 700;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            .minicon1{
                    width: 78%;
                display: flex;
                align-items: center;
                background-color: #fff;
                text-transform: capitalize;
                margin: 0 auto;
                padding: 1.1rem 0;
                border-radius: 1.3rem;
                border: 1px solid 
                
                        }
                          .red1{
                    background-color: #cff5ee;
                    border-radius: 3rem;
                    padding: 0.7rem;
                }
                      }
                }
            
           
         }
   
    }
    
        .address{
            // display: flex;
            // padding-right: 20rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bold;
            text-transform: capitalize;
            // padding: 1rem 0;
           
                p{
                    display: flex;
                    align-items: center;
                    // padding: .1rem 0;
                    
                }
                 .minicon{
                width: 80%;
                display: flex;
                justify-content: center;
                // align-items: center;
                background-color: #fff;
                text-transform: capitalize;
              margin: 0 auto;
                padding: 1rem 0;
                border-radius: 1.3rem;
                border: 1px solid black;
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3rem;
                }
              
            }
           
              
               
            }
           
        }
         .button{
                background: green;
                border: 1px solid green;
                border-radius: 1.4rem;
                padding: .1rem;
                a{
                    text-decoration: none;
                    color: white;
                    text-transform: capitalize;
                }
            }
    

    
   

           
    .otf{
        display: flex;
        justify-content: center;
        // margin: 15rem;
        // padding: 15rem;
        font-size: 42px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }
     .picha{
            // background-color: red;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin:0 3rem;
            gap: 1rem;
            // line-height: 1rem;
            img{
                border-radius: 50%;
            }
            .rexy{
                // display: flex;
                p{
                    width: 72%;
                    display: flex;
                    justify-content: center;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    color: #896110;
                    padding: 0 2rem;
                    border-radius: 1.5rem;
                    // margin: 0 auto;
                    background-color: bisque;
                    // border: 1px solid green;
                }
            }
        }
        .title{
            padding: 3rem;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            font-size: 22px;
            // text-transform: capitalize;
        }
          .photo{
                display: flex;
                justify-content: center;
                gap: 2rem;
            }
            .io{
                background: url;
            }
            .but{
                width: 28%;
                display: flex;
                justify-content: center;
                // margin: 0 auto;
                padding:.1rem 2rem;
                border-radius: 1.4rem;
                color: #fff;
                margin: 4rem 28rem;
                // border: 1px solid black;
                background-color: #017963;
            }
            .count{
                width: 100%;
                background-color:#ffc042;
                
                // display: flex;
                .wea{
                    width: 100%;
                    padding: 0 27rem;
                    margin: 0 auto;
                    img{
                        display: flex;
                        margin: 0 auto;
                        padding: 2rem;
                    }
                }
                .lonkz{
                    width: 90%;
                    // background-color: #017963;
                    display: grid;
                    grid-template-columns: repeat(8,3fr);
                    padding: 3rem;
                    margin: 0 auto;
                    justify-content: space-around;
                    // align-items: center;
                    gap: 1rem;
                    a{
                        display: flex;
                        justify-content: center;
                        padding: .1rem;
                         text-decoration: none;
                         align-items: center;
                         border-radius: 1.3rem;
                         font-size: 18px;
                         font-weight: bold;
                         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                         color: black;
                         background-color: #fff;
                         text-transform: capitalize;
                        //  border: 1px solid black;

                    }
                   
                }
            }
            .down{
                display: flex;
                padding: 2rem;
                justify-content: center;
                margin: 0 auto;
                .downleft{
                    // display: flex;
                    padding: 4rem;
                    margin: 2rem 0;
                    h2{
                        font-family: sans-serif;
                        font-size: 50px;
                        font-weight: bolder;
                    }
                    p{
                        font-family: sans-serif;
                        padding: 1rem 0;
                    }
                    .buttons{
                        gap: 2rem;
                    }
                }
               
               
            }
            .let{
                margin: 0 auto;
                padding:.1rem 33rem;
                // height: 20vh;
                font-family: sans-serif;
                 background:url(6fe68424-a6f2-4e28-9aad-cfa93e03163d/wave-desktop-5707b22c.svg);
                
            }
            .section{
               
                display: flex;
                justify-content: center;
                gap: 6rem;
                background: linear-gradient(to bottom,#cff5ee,#e0f0ed);
                .pio{
                    h3{
                        font-family: sans-serif;
                    }
                    p{
                        font-family:Arial, Helvetica, sans-serif;
                    }
                }
                .button1{
                    width: 69%;
                    display: flex;
                    justify-content: center;
                    border-radius: 1.3rem;
                    padding: .1rem;
                    
                    background-color: #017963;
                    margin: 2rem;
                    font-weight: bolder;
                    // background-color: #017963;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            .about{
                width: 100%;
                background-color:#161617 ;
                color: #fff;
                .infodet{
                    display: flex;
                    justify-content: space-around;
                    margin: 0 auto;
                    gap: 4rem;
                    font-family: sans-serif;
                    .info1{
                        display: grid;
                        padding: 2rem;
                        a{
                            text-decoration: dashed;
                            color: #e0f0ed;
                            margin: .1rem 0;
                            padding: .1rem;
                        }
                    }
                    .min{
                        display: grid;
                        padding: 1rem 0;
                        gap: 2rem;
                        // margin: 2rem 0;
                        // line-height: 2rem;
                    }
                 
                   
                }
                   select{
                    width: 25%;
                    background-color:black;
                    color: #fff;
                        // display: flex;
                        padding: 0.5rem;
                        margin:0 2rem;
                    }
                
            }
    
        